<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkx.modules.user.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hkx.modules.user.model.User">
        <!--        <id column="id" property="id" />-->
        <!--        <result column="title" property="title" />-->
        <!--        <result column="content" property="content" />-->
        <!--        <result column="tags" property="tags" />-->
        <!--        <result column="brief" property="brief" />-->
        <!--        <result column="haveTemp" property="have_temp" />-->
    </resultMap>

</mapper>